html {
    scroll-behavior: smooth;
  }
  .body {font-family: 'Roboto', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        margin: 0; padding: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
       }
   .container {
        max-width: 1440px;
        margin: 0 auto;
      }
  .section {
        display:inline-block;
      }
  .section-item a {
        color: #829985;
        text-decoration: none;
        transition: color 0.5s;
      }
  .section-item a:hover {
        color:#4d2323;
      }
  .link {
        text-decoration: none;
        color: #829985;
        transition: color 0.5s;
      }
  .link:hover {
        color: #8a2be2;
      }
  .nav-list {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style: none;
        padding: 0 20px;
        line-height: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
        background-color: #9d60d5;
      }
  .nav-link {
        padding: 0 30px;
        line-height: 50px;
        transition: .3s;
        text-decoration: none;
        color:black;
      }
    .nav-item a:hover {
       color:aquamarine;
      }
  .main {
    margin-bottom:0px;
  }
  * {
    box-sizing: border-box;
     }
  .footer {background-color:#9d60d5;
    height: 50px;
    margin-top: 0px;
  }
  .footer a,img{
    width: 15%;
    margin-top: 0px;
  }
  #profile1 {
    background-color:#ceb8e3;
  }
  #profile1 img{
    width:30%;
  }
  #profile1 h2{display:inline-flex;
    vertical-align: top;
    width:70%;
    margin-left: 20px;
    margin-top: 50px;
    }
    .section4{display:inline-flex;}
  @media (max-width: 768px) {
    .section1  {
      width: 100%;
    }}
    .main-container {
      display: flex;
      flex-wrap: wrap;
    }
    .section {
      background-color:#ceb8e3;
      width: 100%;
      text-align: center;
    }