* {
    box-sizing: border-box;
}
.bodycontainer {
    width:1440px;
    margin:auto;
}
.navigation { 
    border: 1px solid greenyellow;}
.header_wrapper {
    width:1440px;
    display: flex;
    justify-content:end; 
    border: 1px solid rgb(37, 2, 43);
    background-color: black;
    margin: auto;
    height:90px;
    line-height: 50px;
    letter-spacing: 0.02em;
}
.title_Brooklin{
    font-size: 30px;
    font-family: Forum, sans-serif;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    line-height: 50px;
    margin-left: 0px;
    margin-top: 20px;
    margin-right: 340px;
    }
.nav-list {
    height: 50px;
   display: flex;
    align-self: flex-end;
    background-color: black;
    margin-left: 40px;


}
.navig3{
    margin-left: 30px;
}
.navig3 a{
    color:white;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0cm;
    list-style-type:none;
    text-decoration: none;
}
.navig3 a:hover{
    font-weight: bold;
}

.icon_profile {
    background-color: black;
    border: none;
    margin-right:12px;
    border:1 p solid white;
    margin-left: 40px;
    }
.welcome{
    width:100%;
    position: relative;
}
.welcome-gradient{
        width:100%;
        height: 300px;
        position: absolute;
        top:0;
        left:0;
        right: 0;
        background: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, rgba(18, 18, 21, 0.1) 100%);
    }
.welcome_to {
    margin-left:0px;
    margin-top: 255px;
    position: absolute;
    width: 600px;
    height:220px;
    font-family: Forum;
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    letter-spacing: 3px;
    color:white;
    background-color: black;
}
.welcome_to p {
    margin: 0;
    position:absolute;
    top: 50%;
    transform: translate(0, -10%) }
.about{
    width: 100%;
    height: 830px;
    top: 680px;
}
.container_h2 a {
    list-style-type:none;
    text-decoration: none;
    font-family: Forum;
    font-weight: 400;
    font-size: 40px;
    color:black;
    top:0;
    text-align: center;
}
.container_h2{
    margin-top:15px;
    text-align: center;
    margin-bottom:10px;
     }
.about{
    margin-bottom: -10px;
}
.about:after{content: _;
             color:black;}
.hr-line {
                height: 0;
                border: none;
                border-top: 1px solid #333;
                margin-bottom: 20px;;
            }
.about_p{
    margin-top:-20px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom:20px;
}
.container_h2 a:hover{
    color:#BB945F;
}
.image-wrap{
    width:1440px;
    display:flex;
    justify-content:space-between;
    top:0;
    margin-left: 0px;
    margin-right:0px;
    margin-bottom: 25px;;
}
.image-items{
    margin-left: 20px;
}
.carusel_pagination {
    margin-top: 0px;
    padding-top: 0px;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom: -20px;
    border:1px solid black;
}
.active_pag {
    width: 26px;
    height: 26px;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom: -5px;
    border:1px solid black;
}
.active_pag a{
    margin: 0 0px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    background-color:black;
    border-radius: 50%;
}
.active_pag a:hover{
    background-color:#BB945F;
}
.favorites{
    width:100%;
    height: 1439px;
    top:1527px}
.pick{margin-top: -20px;
      margin-bottom: 40px;

    }
.container_h2 a {
    list-style-type:none;
    text-decoration: none;
    font-family: Forum;
    font-weight: 400;
    font-size: 40px;
    color:black;
    top:0;
    text-align: center;
}
.favorites h2{text-align: center;
     }
.favorites:after{content: ________;
             color:black;}
.hr-line {
            margin: 20px 680px;
            padding: 20px;
            height: 0;
            border: none;
            border-top: 2px solid #333;
            }
.favorites p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align:left;
    margin-left: 20px;
    top: 121px;
}
.seasons_button_cont {
    width: 700px;
    height: 24px;
    top: 185px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.seasons-label {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
    accent-color: black;
}
.seasons-label input{
    margin-right: 20px;
    }
.favorites-items{
    height: 1150px;
    color: rgb(0, 0, 0);
    margin: 40px 0px 40px 20px;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 260px;
    row-gap: 37px;
}
.favorites_container{
     width: 550px;
     height: 555px;
     border:1px solid black;
     background: #FFF;
     display: flex;
     flex-direction: column;
     margin-right: 55px;
     margin-bottom: 0px;

}
.favorites_container:nth-last-child(2n+1){
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    background: #FFF;
    margin-right: auto;
}
.favorites_staff_pick{
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2px;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    word-spacing: 2px;
}
.favorites_staff_pick_line {
    color: #000;
    margin-left: 20px;
    font-family: Forum;
    align-self: flex-start;
}
.favorites_cont_title1 {
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; 
    letter-spacing: 2px;
    margin-left: 20px;
    max-height: max-content;
    margin-bottom: 10px;
}
.favorites_cont_text{
    display: flex;
    position: relative;
}
.favorites_cont_text p{
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-left: 20px;
    max-width: 350px;
    }

.book{
    position: absolute;
    top: 48px;
    bottom:0;
    right: -20px;
}
.favorites_book_button{
    width: auto;
    height: auto;
    border-radius: 0%;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: 10px;
    cursor: pointer;
}
.favorites_book_button1:hover {
    background-color:gray;
    
}
.favorites_book_button1{
    width: 75px;
    height: 30px;
    border-radius: 0%;
    margin-left: 10px;
    margin-bottom: auto;
    margin-top: auto;
    cursor: pointer;
}
.favorites_book_button1_own {
    width: 75px;
    height: 30px;
    border-radius: 0%;
    margin-left: 10px;
    margin-bottom: auto;
    margin-top: auto;
    cursor: pointer;
}
.favorites_book_button1_own:disabled{
    background-color:rgb(184, 180, 180)
}
.favorites_book_button_own {
    width: auto;
    height: auto;
    border-radius: 0%;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: 10px;
}
.spring{
    display:none;
}
.favorites_season_books {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.spring {
    height: 1150px;
    color: rgb(0, 0, 0);
    margin: 40px 0px 40px 20px;
    max-width: 1440px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 260px;
    row-gap: 37px;
    display: none;
}
.favorites{
    margin-bottom: 78px;
}
.Coffeeshop {
    margin-top:60px;
    display: flex;
    width: 1440px;
    height: 841px;
    flex-direction: column;
    align-items: center;
}
#coffeeshop_p{
    text-align: center;
    
}
#coffeeshop a{
    letter-spacing: 0.05em;
}
#coffeeshop{
    text-align:center;
}
#coffeeshop_p{
    letter-spacing: 0.1em;
}
.menu {
    display: flex;
    width: 1400px;
    height: 500px;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 15px;
}
.menu_title{
    margin-left: 30px;
}
.coffee_tea {
    height: 500px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    text-align: justify;
}
.desserts_cakes {
    justify-content: space-between;
    display: flex;
    text-align:left;
    margin-bottom: 0px;
}
.menu_tea{
    text-align: start;
      left:0;
      margin-left: -15px;
      margin-top: 5px;
}
.menu_cake{
    margin-right: 5px;
    text-align: end;
}
.menu_container{

}
.menu_title{
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    margin-top: 18px;
    margin-bottom: 20px;
}
.menu_items {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    text-transform: capitalize;
    display: flex;
    column-gap: 60px;
    margin-top: 6px;
    padding-bottom: 10px;
    margin-right: 20px;
}
.menu_items1 {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    text-transform: capitalize;
    display: flex;
    column-gap: 80px;
    margin-top: 6px;
    padding-bottom: 10px;
    margin-right: 20px;
}
.menu_line {
    width: 100px;
    height: 1px;
    background: #BB945F;
    align-self: center;

}

.menu_name {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: capitalize;
    white-space: nowrap;
    max-width: 196px;
    margin-left:30px;
    text-align: justify;
}
.menu_name1 {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    letter-spacing: 2px;
    text-transform: capitalize;
    white-space: nowrap;
    max-width: 196px;
    margin-left:0px;
    text-align: justify;
}
.menu_dollar {
    margin-left: -20px;
}
.contacts{
    margin-top:0px;
}

.contacts{
    margin-top:0px;
}
.contacts_container {
    border:1 px solid;
    color: rgb(0, 0, 0);
    max-width: 1440px;

    display: flex;
    flex-wrap: nowrap;
    margin-left:0px;
    margin-top: 0px;
    margin-bottom: 50px;
}
.info_text{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;
    margin-top: -20px;
    }
.info_number{
    margin-top: 30px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: left;
}
.contacts_map{
    margin-top: -15px;
    margin-left: 200px;
}
.library_card {
    max-width: 1440px;
    height: 614px;
    display: inline;
    margin-bottom: 10px;
}
.digital_cards a{
    letter-spacing: 0.05em;
}
.digital_cards h2{
    letter-spacing: 0.05em;
}
.digital_cards{
    max-width: 1440px;
    height: 614px;
    display: inline;
    margin-bottom: 20px;
}
.digital_cards_form_wrapper{
    display: flex;
    width: 1440px;
    height: 500px;
    justify-content: space-between;
    margin-top: 0px;
    margin-bottom: -30px;
}
.librarycard{
    margin-bottom: 0px;
}
.card_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: max-content;
    margin-top: -25px;
    margin-left: 20px;
}
.form_border{
    width: 600px;
    height: 386px;

    border: 2px solid  #BB945F;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}
.find_title{
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    display: grid;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 0px;
}
.field_find_body{
    display: flex;
    flex-direction: column;
    background: #BB945F;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 287px;
    margin-right: 20px;
    margin-left: 20px;
}
.field_findbody_title{
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.6px;
    text-align: left;
    align-self: flex-start;
    margin-left: 10px;
    margin-top: 30px;
}
.input_size {
    width: 520px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 10px;
    border: #FFF;
    background: #FFF;
    color: #000000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}
.text_size_input{
    width: 520px;
    height: 66px;
    flex-shrink: 0;
    border-radius: 10px;
    border: #FFF;
    background: #FFF;
    color: #000000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin-bottom: 20px;
}
.check{
    color: #0C0C0E;
    background-color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    width: 245px;
    height: 45px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    margin-top: 10PX;
    margin-left: 30%;
    margin-bottom: 20px;
    transition: 1s;
}
.check:hover{
    background-color: rgb(112, 109, 109);
    transition: 3s;
}
.LibraryCard_login{
margin-right: 20px;
margin-top: -20px;
}
.get_card_text{
    text-align: end;
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 0.4px;
    margin-right: 10px;
    cursor: pointer;
}
.you_will_be_text{
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;

    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-bottom: 35px;
    cursor: pointer;
    line-height: 40px;
}
.buttons_signup_login{
    display: flex;
    justify-content: end;
    column-gap: 10px;
}
.signup_login{
    display: flex;
    width: 75px;
    height: 30px;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    color: #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
#card:hover{
    background-color:rgb(174, 171, 171);
    transition: 2s;
}
#library_sign_card:hover{
    background-color:rgb(174, 171, 171);
    transition: 2s;
}
.footer {
    max-width: 1440px;
    height: 250px;
    background-color: #000000;
    color: #ffffff;
    margin-top: 0px;
}
.addres {
    width: 231px;
    margin-bottom: 10px;
}
.addres a{
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.workmode{
    width: 229px;
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
   
    text-align: right;
}
.footer_cont{
    display: flex;
    width: 1440px;
    flex-direction: column;
    margin-top: 0px;
    background: #000000;
    color: #ffffff;
}
.footer_cont1{
    display: flex;
    width: 1400px;
    height: 40px;
    justify-content: space-between;
   
   }
.social{
    display: flex;
    width: 102px;
    height: 24px;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
   
}
.social li{
    list-style-type: none;
}
.footer_cont2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  
}
.footer_rss{
    display: flex;
    justify-content: space-between;
    width: 1440px;
    background-color: #000000;
    color: #ffffff;
    padding-top: 30px;

}
.year {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 90px;

}
.line_footer {
    max-width: 1400px;
    margin-top: 20px;
    color: #ffffff;
    height: 1px;
}
.links_rss {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}